

// Responsive Breakpoints
$bpCrumb: 380;
$bpYoda: 400;
$bpArtoo: 486;
$bpBB8:510;
$bpJawa:570;
$bpLeia: 640;
$bpRey:700;
$bpLuke: 770;
$bpLando:800;
$bpFinn:860;
$bpHan: 900;
$bpVader:1020;
$bpChewie:1300;
$bpJabba:1600;

// Typography
$textBase: 16;
