
{%- for work in collections.work -%}
  <a href="{{ work.url }}" class="ob_Promo">
    <img class="ob_Promo__image" src="{{ site.imgPath }}{{ work.data.poster }}" alt="">
    <h2 class="ob_Promo__title hd_Han">{{ work.data.title }}</h2>
    <p class="ob_Promo__desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, harum?</p>
  </a>
{%- endfor -%} 
 