---
layout: default
---

<div class="cp_Text--intro cp_Text">
  <div class="cp_Text__inner tx_Prose--intro tx_Prose">
    {{ content | safe }}
  </div>
</div>


{% include "components/work-list.njk" %}