// Base Grid Layout styles

.gd_Base {
  display:grid;
  width: 100%;
  max-width:em(1500); 
  margin:0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-gap:40px; 
} 

// Grid Containers
.ob_PageSection {
  &--header {
    align-items: center;
  }
}

// Grid Children
.cp_Brand,
.cp_MainNav {
  grid-row:1;
}

.cp_Brand {
  grid-column: 7 / span 6;
}

.cp_MainNav,
.cp_Copyright {
  grid-column:1 / span 6;
}

.cp_PageTitle,
.ob_Section {
  grid-column: 1 / span 12;
}

.cp_Text {
  &--intro {
    grid-column:1 / span 12;
  }

  &--title {
    grid-column:1 / span 6;
  }

  &--case,
  &--standard {
    grid-column:7 / span 6;
  }
}



.ob_Promo {
  grid-column: span 4;
}

.ob_Image {
  &--large {
    grid-column:span 12;
  }

  &--medium {
    grid-column:span 6;
  }

  &--small {
    grid-column:span 4;
  }
}

/* !== Breakpoint */
@include mq($bpPhasma) {
  .cp_Text {
    &--title,
    &--case,
    &--standard {
      grid-column:4 / span 9;
    }
  }
}

/* !== Breakpoint */
@include mq($bpRey) {
  .gd_Base {
    grid-gap:20px;
  }

  .cp_Text {
    &--title,
    &--case,
    &--standard {
      grid-column:1 / span 12;
    }
  }
}