// Heading styles



.hd_Chewie,
.tx_Prose h1 {
  font-size:var(--largeText);
  font-weight: $normal;
  line-height: 1.2;
  color:$clrDarkGrey;
}

.hd_Han,
.tx_Prose h2 {
  font-size:var(--regularText);
  font-weight: $bold;
  line-height: 1.2;
  color:$clrDarkGrey;
  margin-bottom:1em;
}

.hd_Luke {

}