//  Simple Text Component

.cp_Text {
  &--intro {
    max-width:em(660);
    padding:5vw 0 2.5vw;
  }

  &--case,
  &--standard,
  &--title {
    padding:em(70) 0;
  }

  &__pageTitle {
    text-transform: uppercase;

    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__inner {

  }
}

/* !== Breakpoint */
@include mq($bpJabba) {
  .cp_Text {
    &--case,
    &--standard,
    &--title {
      padding:vw(70,$bpJabba) 0;
    }
  }
}

/* !== Breakpoint */
@include mq($bpPhasma) {
  .cp_Text {
    &--title {
      padding-bottom: 0;
    }

    &--case,
    &--standard {
      padding-top: 0;
    }
  }
}