// Carousel object
.ob_Carousel {
  grid-column: span 12;

  &__slidesHolder {
    overflow: hidden;
  }

  &__slides {
    transition: transform 0.2s ease-out;
  }

  &__slide {
    flex:0 0 100%;
  }
}