
<div class="ob_Carousel" data-carousel="component" data-carousel-config='{"interval": 2000, "transition": 500, "autoplay": false, "mode": "slider", "buildTabs": false, "flexHeight": false, "group": true}'>
      <div class="ob_Carousel__slidesHolder" data-carousel="holder">
        <div class="ob_Carousel__slides--flex ob_Carousel__slides fx_Group" data-carousel="slides">
          <div class="ob_Carousel__slide--text ob_Carousel__slide tx_Intro--ditl tx_Intro" data-carousel="slide">
            <h4>Rest easy through the night </h4>
            <p>In this mode, opening a window will trigger an alarm and opening a door will start the Entry Countdown. However, motion sensors are disabled, so don’t worry if you’re partial to a midnight snack.</p>
          </div>

          <div class="ob_Carousel__slide--text ob_Carousel__slide tx_Intro--ditl tx_Intro" data-carousel="slide">
            <h4>Switch to HOME mode when the house wakes up</h4>
            <p>In this mode, you’ll hear a chime when doors and windows are opened. Motion sensors are disabled so you can relax as you enjoy the morning.</p>
          </div>

          <div class="ob_Carousel__slide--text ob_Carousel__slide tx_Intro--ditl tx_Intro" data-carousel="slide">
            <h4>‘Ok Security, I am leaving’ </h4>
            <p>Switch to AWAY mode with a simple voice command. In this mode, opening a window will trigger an alarm and opening a door will start the Entry Countdown. Motion Sensors are also active so your home is protected throughout the day.</p>
          </div>

          <div class="ob_Carousel__slide--text ob_Carousel__slide tx_Intro--ditl tx_Intro" data-carousel="slide">
            <h4>Know what’s going on at home</h4>
            <p>MotionViewers and the Base Station allow you to see if there is any activity at your home throughout the day. So you’re always in the know.</p>
          </div>

          <div class="ob_Carousel__slide--text ob_Carousel__slide tx_Intro--ditl tx_Intro" data-carousel="slide">
            <h4>Lily arrives home</h4>
            <p>Activating Scheduled Facial Recognition* for up to two hours a day allows you to see exactly who is home and when.</p>
          </div>

          <div class="ob_Carousel__slide--text ob_Carousel__slide tx_Intro--ditl tx_Intro" data-carousel="slide">
            <h4>Relax</h4>
            <p>Put your feet up and relax in the knowledge that the Smart Home Security System is helping to make you and your loved ones feel safe. You can even review the days activity on the handy Honeywell Home App.</p>
          </div>
        </div>
      </div>
      <div class="ob_Carousel__controls">
        <a href="#" class="ob_Carousel__control" data-action="p">Previous</a>
        <a href="#" class="ob_Carousel__control" data-action="n">Next</a>
      </div>
      <div class="ob_Carousel__index" data-carousel="index">
        
      </div>
  </div>