<div class="ob_Section">
  <h2>Smart Image Loading</h2>

  <div class="ob_Image lazyLoader" data-image-load="pageload" 
    data-image-config='{ "type" : "inline", "reload" : true }' 
    data-src-set='{
      "max":"/assets/img/placeholder_epoch.png",
      "1100":"/assets/img/placeholder_epoch.png",
      "500":"/assets/img/placeholder_epoch.png"
    }' 
    data-alt="Highland mountains">
    <noscript >
      <img src="/assets/img/placeholder_epoch.png" alt="Placeholder" />
    </noscript>
  </div>
</div>