<div class="ob_Section">
  <h2 class="ob_Section__title">Smart Video Loading</h2>
 
    <div class="cp_VideoOverlay--autoplayer cp_VideoOverlay" data-inline-video="container">
      <video class="cp_VideoOverlay__autoplayer" data-inline-video="player" muted="muted" width="100%" height="100%" poster="" webkit-playsinline="webkit-playsinline" playsinline="playsinline"> 
        <source data-src="https://player.vimeo.com/external/320188068.hd.mp4?s=a05f69bbbdc7e29aafba42042f16ef7e6331d202&profile_id=174">
      </video> 
      <a href="#" class="cp_VideoOverlay__toggle" data-inline-video="toggle">
        <span class="cp_VideoOverlay__toggleState--play cp_VideoOverlay__toggleState">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
            <g fill="none" fill-rule="evenodd">
              <circle class="cp_VideoOverlay__controlBack" cx="25" cy="25" r="25" fill="#3C3C44"/>
              <polygon fill="#FFFFFF" points="37.356 25.148 18.391 37.078 18.391 13.218"/>
            </g>
          </svg> 
        </span>
        <span class="cp_VideoOverlay__toggleState--pause cp_VideoOverlay__toggleState">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
            <g fill="none" fill-rule="evenodd">
              <circle class="cp_VideoOverlay__controlBack" cx="25" cy="25" r="25" fill="#3C3C44"/>
              <g fill="#FFFFFF" transform="translate(16.667 14.943)">
                <rect width="5.747" height="20.69"/>
                <rect width="5.747" height="20.69" x="11.494"/>
              </g>
            </g>
          </svg>
        </span>
      </a>
    </div>

</div>