[data-showhide=component] {
  [data-showhide=content] {
    transition:height var(--comp-timing);
    overflow: hidden;
    margin-block-start: 0;
    padding-block-start: var(--flow-height);
    height: 0;
  }

  &.is_Open {
    [data-showhide=content] {
      height:auto;
      display: block;
    }
  }

  &.is_Animated {
    --comp-timing:var(--time-long);
  }
}
