/* != Document */

/* Rules for <html> and <body> go here */
body {
  color: grey; 
  background: white; 
  font-size: 100%;
  font-family: sans-serif;
  font-weight: $normal;
  line-height: 1.5;
  font-feature-settings: "kern" 1, "dlig" 0;
  overflow-x: hidden;
}

*, 
*:before,
*:after {
  box-sizing: border-box;
}  

// .js {
//   body {
//     > * {
//       transition: all var(--generic--timing--long);
//       opacity: 0;
//     }

//     &.pageLoaded {
//       > * {
//         opacity: 1; 
//       }
//     }
//   }
// }

.wrapper {
  width: 100vw;
  margin:0 auto; 
  position: relative;
}